body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: teal;
  background: radial-gradient(circle at 50% 0%, white 1%, Teal 100%);
}

h1 {
  color: black;
}
h3 {
  color: black;
}

.container {
  margin-top: 10px;
  height: 100vh;
}


.input-group {
  margin: 20px;
}

td {
  overflow: scroll;
}